<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Room</h1>
    <form method="POST">
        <label for="name">Room Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="desired_temperature">Desired Temperature:</label>
        <input type="number" id="desired_temperature" name="desired_temperature" required>
        <br>
        <label for="light">Light:</label>
        <select id="light" name="light">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        <br>
        <label for="sensors">Sensors:</label>
        <br>
        {% for sensor in sensors %}
            <input type="checkbox" id="{{ sensor.id }}" name="sensors" value="{{ sensor.id }}">
            <label for="{{ sensor.id }}">{{ sensor.type }} (ID: {{ sensor.id }})</label>
            <br>
        {% endfor %}
        <br>
        <button type="submit">Add Room</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
