<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Smart Home Control</h1>
    <ul>
        {% for room in rooms %}
            <li>
                <a href="{{ url_for('room', room_name=room.name) }}">{{ room.name }}</a>
                <a href="{{ url_for('delete_room', room_name=room.name) }}" style="color: red;">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_room') }}">Add Room</a>
</body>
</html>
