<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room.name }} Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ room.name }} Control</h1>
    <form method="POST">
        <p>Desired Temperature: <input type="number" name="desired_temperature" value="{{ room.desired_temperature }}" required></p>
        <p>Real Temperatures:</p>
        <ul>
            {% for sensor in room.sensors %}
                {% if sensor.type == 'temperature' %}
                    <li>Sensor ID: {{ sensor.id }} - Real Temperature: {{ sensor.real_value }}°C</li>
                {% endif %}
            {% endfor %}
        </ul>
        <label for="light">Light:</label>
        <select id="light" name="light">
            <option value="on" {% if room.light == 'on' %}selected{% endif %}>On</option>
            <option value="off" {% if room.light == 'off' %}selected{% endif %}>Off</option>
        </select>
        <br>
        <button type="submit">Save</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
